<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://runtime/1.0"
            class="runtime.RuntimePackage"
            genModel="model/runtime.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="runtime"
            class="runtime.util.RuntimeResourceFactoryImpl"/>
   </extension>

</plugin>
