<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.pnml.tools.epnk.applications.hlpng.transitionBinding.extensions" name="UserExtensions" schema="schema/org.pnml.tools.epnk.applications.hlpng.transitionBinding.extensions.exsd"/>
   <extension-point id="org.pnml.tools.epnk.applications.hlpng.transitionBinding.extensions.userDataTypes" name="UserDataTypes" schema="schema/org.pnml.tools.epnk.applications.hlpng.transitionBinding.extensions.userDataTypes.exsd"/>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.pnml.tools.epnk.pnmlcoremodel.PetriNet"
            id="org.pnml.tools.epnk.applications.hlpng.simulator.startsimulatorapp">
         <menu
               label="ePNK"
               path="additions"
               id="org.pnml.tools.epnk.actions.standardmenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.pnml.tools.epnk.applications.hlpng.utils.StartSimulatorApp"
               enablesFor="1"
               id="org.pnml.tools.epnk.applications.hlpng.simulator.newAction"
               label="Start Simulator App"
               menubarPath="org.pnml.tools.epnk.actions.standardmenu/group1"
               tooltip="Start high level Petri Net graph simulator">
         </action>
      </objectContribution>
   </extension>

</plugin>
