<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.pnml.tools.epnk.pnmlcoremodel.PetriNet"
            id="org.pnml.tools.epnk.applications.hlpng.simulator.startsimulatorapp">
         <menu
               label="ePNK"
               path="additions"
               id="org.pnml.tools.epnk.actions.standardmenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.pnml.tools.epnk.applications.hlpng.utils.StartSimulatorApp"
               enablesFor="1"
               id="org.pnml.tools.epnk.applications.hlpng.simulator.newAction"
               label="Start Visual Simulator App"
               menubarPath="org.pnml.tools.epnk.actions.standardmenu/group1"
               tooltip="Start high level Petri Net graph 3D visualization simulator">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.pnml.tools.epnk.applications.hlpng.transitionBinding.extensions">
      <client
            class="org.pnml.tools.epnk.applications.hlpng.contributors.ExtensionManager">
      </client>
   </extension>

</plugin>
